<div class="main-div">
    <mat-card>
        <h2>Update Points</h2>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form [formGroup]="form" (submit)="onUpdatePoints()" *ngIf="!isLoading">
            <div>
                <mat-form-field>
                    <mat-select
                        formControlName="plusminus"
                        placeholder="Operator">
                        <mat-option *ngFor="let operator of operators" [value]="operator.operator"> {{operator.operator}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('plusminus').invalid">Please select an operator.</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-slider 
                    thumbLabel
                    formControlName="pointValue"
                    [tickInterval]="1"
                    [min]=0 
                    [max]=100 
                    [step]=1>
                </mat-slider>
            </div>
            <div>
                <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    *ngIf="!isLoading">
                    Update Points
                </button>
            </div>
        </form>
    </mat-card>
</div>