.mat-form-field {
    background-color: primary;
  }
  
  .center {
    width: 75%;
    margin: 10px auto;
  }
  
  mat-card {
    background-color: lightblue;
  }
  
  .main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-spinner {
    margin: auto;
  }

  mat-option {
    font-size: x-large;
  }
  
  table {
      width: 100%;
  }
  
  th.mat-sort-header-sorted {
      color:black;
  }
  